/*
    Hide the book summary list item at the top of the
    summary as well as the divider underneath it
*/
.book-summary > nav > ul.summary > li:nth-of-type(1),
.book-summary > nav > ul.summary > li:nth-of-type(2) {
    display: none
}

.book-summary {
    background-color: #1F3244;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
    color: #FEFFFE;
}

.book-summary ul.summary li.active > a {
    color: #FB7E00;
}

#book-search-input {
    background-color: transparent;
    background-image: url(https://raw.githubusercontent.com/jeffhandley/strickland/c8b7882a29603513b288ada37838ec5558075083/logo/logo.png);
    background-size: 30px;
    background-position: 8px center;
    background-repeat: no-repeat;
}

#book-search-input input, #book-search-input input:focus, #book-search-input input:hover {
    color: #FEFFFE;
    padding-left: 38px;
}

.book-summary::-webkit-scrollbar {
    background-color: #1F3244;
    width: 3px;
}

.book-summary::-webkit-scrollbar-thumb {
    background-color: #FB7E00;
}

.book-body::-webkit-scrollbar, .body-inner::-webkit-scrollbar {
    width: 8px;
}

.book-body::-webkit-scrollbar-thumb, .body-inner::-webkit-scrollbar-thumb {
    background-color: #1F3244;
}

.book-body .body-inner {
    overflow-y: scroll;
}

.markdown-section {
    color: #1F3244;
}

.markdown-section a, #book-search-results .search-results .has-results .search-results-item a {
    color: #FB7E00;
}

.markdown-section a {
    font-weight: 450;
}
