.formfield input, .formfield label {
  box-sizing: border-box;
  margin: 0;
}

.formfield input + label {
  padding: 25px 8px 8px 8px;
}

.formfield input:focus + label,
.formfield input.validation-value + label {
  margin: -20px 0 0 0;
  padding: 4px;
}

.formfield-checkbox, .formfield-select, .formfield-radio {
  margin: 1.25rem 0 0 0;
}

.formfield-error {
  display: block;
  color: #FF2200;
  margin-top: .25rem;
}

.formfield-radio, .formfield-select {
  > label {
    display: block;
    margin-bottom: 5px;
  }
}

.formfield-select select {
  width: 300px;
  padding: 15px 5px;
}